@CHARSET "UTF-8";

body {
  overflow-y: scroll;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, tahoma, arial,
    simsun, 宋体;
  padding-top: 58px;
  background-image: url(/resources/img/bg1.png);
  background-color: #3D3D3D;
}

.wrapper {
  width: 890px;
  position: relative;
  margin: 0 auto;
}

.dashboard-left {
  float: left;
  width: 280px;
  margin-right: 20px;
}

.content-main {
  float: left;
  width: 590px;
  margin: 0;
}

.dashboard-right {
  float: left;
  display: none;
}

@media ( max-width : 992px) {
  .wrapper {
    width: 590px;
  }
  .dashboard-left {
    display: none;
  }
}

@media ( max-width : 600px) {
  .wrapper {
    width: 100%;
  }
  .content-main {
    width: 100%;
  }
}

@media ( min-width : 1036px) {
  .wrapper {
    width: 1000px;
  }
  .dashboard-right {
    display: block;
    width: 110px;
  }
}

@media ( min-width : 1290px) {
  .wrapper {
    width: 1100px;
  }
  .dashboard-right {
    display: block;
    width: 210px;
  }
}

.face-img {
  margin-bottom: 20px;
}

.face-img img {
  max-width: 280px;
  /*max-height:169px*/
}

.face-text {
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  background-color: transparent;
  color: gray;
  padding-left: 35px;
  padding-bottom: 5px;
  font-size: 26px;
  margin-bottom: 50px;
}

.face-text span {
  padding-right: 8px;
}

#tagPanel {
  min-height: 100px;
  padding-left: 0px;
  background-color: #474747;
  border: 0px;
  border-radius: 4px;
}

#tagTempl {
  display: none;
}

#tagPanel .tag {
  color: white;
  margin-right: 15px;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
  line-height: 25px;
  padding: 0 10px;
}

#tagPanel .tag:hover {
  cursor: pointer;
  background-color: #B7B7B7;
  color: white;
}

.top-radius {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.bottom-radius {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.radius{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.light-box{
  opacity:0.70;
}

#newPostItem {
  display: none;
}

#newPostPlaceholder {
  cursor: pointer;
  font-style: italic;
  letter-spacing: 2px;
  color: #999;
}

#newPostBox {
  outline: 0;
  display: none;
  min-height: 100px;
}

.box {
  margin: 0px 15px 10px 15px;
  font-size: 14px;
  padding: 15px 0px;
  min-height: 32px;
}

#toolBar {
  border-top: 1px solid #efeeee;
  padding-top: 10px;
  display: none;
  padding-bottom:6px;
}

#createPostBtn {
  float: right;
  margin-right: 18px
}

#toolBar:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: '.';
}

#postList {
  /*用来布局，不对其设置样式*/
}

.last-post {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-bottom: 50px;
}

.post-item {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

}

#postItemTempl {
  display: none;
}

.post-item .info {
}

.hide{
  display:none;
}

.opt {
  padding-left:15px;
}

.opt span{
  margin-right:15px;
  color: #90939a;
  float:right;
}

.opt:after{
  content:'.';
  color:transparent;
  clear:both;
}

.opt span:hover{
  margin-right:15px;
  color: #707276;
  cursor:pointer;
}

.comment-list{
  
  
}

.sort-asc{
  position:relative;
  
}
.comment-arrow{
  position:absolute;
  color:#F5F8FA;
  font-size:32px;
  top: -12px;
left: 25px;
}

.comment-box{
  outline:none;
  background-color: #F5F8FA;
  min-height:40px;
/* border-bottom: 1px solid #e1e8ed; */
  padding-top: 15px;
  padding-right:15px;
  padding-left:15px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.new-comment-placeholder{
  outline: none;
border: 0px;
width:100%;
}
.new-comment-placeholder:hover{
  cursor:pointer;
}
.new-comment-box{
  display:none;
  min-height: 100px;
}

.comment-tool-bar {
/* border-top: 1px solid #efeeee; */
  padding-top: 10px;
  display: none;
  background-color: #F5F8FA;
  padding-bottom:6px;
}

.create-comment-btn {
  float: right;
  margin-right: 18px
}

.comment-tool-bar:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: '.';
}

